@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --color-bg-primary: #ffe000;
  --color-bg-secondary: #f6f6f6;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
  --color-bg-input: #edf2f7;
  --color-bg-button: #05519f;
  --color-plus-button: #3db662;
  --color-price-info: #ff3824;

}

/* .main {
  --color-bg-primary: #ffe000;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
  --color-bg-input: #edf2f7;
  --color-bg-button: #007aff;
  --color-plus-button: #3db662;
} */
